<p id="notice"><%= notice %></p>

<h1>Up File Share Authorities</h1>

<table>
  <thead>
    <tr>
      <th>Up file</th>
      <th>User</th>
      <th>Can create</th>
      <th>Can view</th>
      <th>Can update</th>
      <th>Can destroy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @up_file_share_authorities.each do |up_file_share_authority| %>
      <tr>
        <td><%= up_file_share_authority.up_file %></td>
        <td><%= up_file_share_authority.user %></td>
        <td><%= up_file_share_authority.can_create %></td>
        <td><%= up_file_share_authority.can_view %></td>
        <td><%= up_file_share_authority.can_update %></td>
        <td><%= up_file_share_authority.can_destroy %></td>
        <td><%= link_to 'Show', up_file_share_authority %></td>
        <td><%= link_to 'Edit', edit_up_file_share_authority_path(up_file_share_authority) %></td>
        <td><%= link_to 'Destroy', up_file_share_authority, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Up File Share Authority', new_up_file_share_authority_path %>
