<p id="notice"><%= notice %></p>

<p>
  <strong>Up file:</strong>
  <%= @up_file_share_authority.up_file %>
</p>

<p>
  <strong>User:</strong>
  <%= @up_file_share_authority.user %>
</p>

<p>
  <strong>Can create:</strong>
  <%= @up_file_share_authority.can_create %>
</p>

<p>
  <strong>Can view:</strong>
  <%= @up_file_share_authority.can_view %>
</p>

<p>
  <strong>Can update:</strong>
  <%= @up_file_share_authority.can_update %>
</p>

<p>
  <strong>Can destroy:</strong>
  <%= @up_file_share_authority.can_destroy %>
</p>

<%= link_to 'Edit', edit_up_file_share_authority_path(@up_file_share_authority) %> |
<%= link_to 'Back', up_file_share_authorities_path %>
