<p id="notice"><%= notice %></p>

<h1>Up File Shortcuts</h1>

<table>
  <thead>
    <tr>
      <th>Up file</th>
      <th>Folder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @up_file_shortcuts.each do |up_file_shortcut| %>
      <tr>
        <td><%= up_file_shortcut.up_file %></td>
        <td><%= up_file_shortcut.folder %></td>
        <td><%= link_to 'Show', up_file_shortcut %></td>
        <td><%= link_to 'Edit', edit_up_file_shortcut_path(up_file_shortcut) %></td>
        <td><%= link_to 'Destroy', up_file_shortcut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Up File Shortcut', new_up_file_shortcut_path %>
