<div class="container-fluid">
    <div class="row">
        <!-- ------------------main view -------------------------------- -->
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="ui big breadcrumb">
                <%= render 'shared/ancestors_breadcrumb', folder: current_folder %>
            </div>
            <div class="ui horizontal divider">Folder</div>
            <div class="row list folders">
                <%= render 'folders_list', folders: @folders %>
            </div>
            <div class="ui horizontal divider">UpFile</div>
            <div class="row list up_files">
                <%= render 'up_files/up_files_list', up_files: @up_files %>
            </div>
        </div>
        <!-- ------------------side menu-------------------------------- -->
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="ui horizontal divider">Nhắn tin</div>
            <div class="affix">
                <%= render current_folder.chat_room %>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------- menu ẩn cho header ----------------------- -->
<div class="ui small modal new folder">
    <div class="header">
        Tạo folder
    </div>
    <div id="create-folder-form" class="content">
        <%= render 'new_folder_lite_form', folder: @new_folder %>
    </div>
</div>
<div class="ui small modal new up_file">
    <div class="header">
        Thêm up_file
    </div>
    <div id="upload-up_file-form" class="content">
        <%= render 'new_up_file_lite_form', up_file: @new_up_file %>
    </div>
</div>