<%= form_for UpFile.new, url: up_files_path(folder_id: current_folder.id), html: { multipart: true } do |f| %>
    <%# -- hidden fields - uploader and folder info -- %>
    <%= f.hidden_field :uploader_id, value: current_user.id %>
    <%= f.hidden_field :temp_up_id, value: SecureRandom.base64 %>
    <%# -- upload file section -- %>
    <div class="row">
    	<div class="col-md-6">
    		<div id="dropzone" class="fade well">Drop files here</div>
    	</div>
    	<div class="col-md-1">
    		<div class="ui header"> hoặc </div>
    	</div>
    	<div class="col-md-5">    	
            <%= f.file_field :link %>
    	</div>
    </div>    
    <br/>    
    
<% end %>
<script id="template-upload" type="text/x-tmpl">
    <%= render 'shared/small_items/upload_tracker' %>
</script>

<style type="text/css" media="screen">
    #dropzone {
        background: palegreen;
        width: 100%;
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-weight: bold;
    }
    #dropzone.in {
        width: 600px;
        height: 200px;
        line-height: 200px;
        font-size: larger;
    }
    #dropzone.hover {
        background: lawngreen;
    }
    #dropzone.fade {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 1;
    }
</style>