<%= form_for up_file, remote: true, html: { multipart: true } do |f| %>
    <%# -- hidden fields - uploader and folder info -- %>
    <%= f.hidden_field :uploader_id, input_html: { value: current_user.id } %>
    <%= f.hidden_field :folder_id, input_html: { value: current_folder.id } %>
    <%# -- upload file section -- %>
    <%= f.label :link, "Tải file" %><br />
    <%= f.file_field :link %>
</div>
<% end %>
<script id="template-upload" type="text/x-tmpl">
    <%= render 'shared/small_items/upload_tracker' %>
</script>