<% @shared_with_me_page = true %>

<div class="container-fluid padding-2-size">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="ui fluid huge vertical menu">
                <%= link_to 'Thư mục của tôi', folders_path, class: 'active teal item'  %>
                <%= link_to 'Được chia sẻ', shared_with_me_folders_path, class: 'item'  %>
                <%= link_to 'Bài học chung', '#', class: 'item'  %>
            </div>
        </div>
        <div class="col-lg-9 col-md-10 col-sm-10">
            <div class="ui big breadcrumb">
                <%= render 'shared/ancestors_breadcrumb', folder: current_folder %>
            </div>
            <div class="ui horizontal divider">Folder</div>
            <div class="row list folders">
                <%= render 'folders_list', folders: @folders %>
            </div>
            <div class="ui horizontal divider">UpFile</div>
            <div class="row list up_files">
                <%= render 'up_files/up_files_list', up_files: @up_files %>
            </div>
        </div>        
    </div>
</div>

<div class="ui small modal share-manager">
    <div class="header">
        Quản lý quyền chia sẻ
    </div>    
    <div class="content">
    </div>
</div>