<table class="ui celled structured table">
    <thead>
        <tr>
            <td rowspan="2">Username</td>
            <td rowspan="2">Email</td>
            <td colspan="5" class="center aligned">Quyền</td>
            <td rowspan="2">Trực tiếp?</td>
            <td rowspan="2">Hủy</td>
        </tr>
        <tr>
            <td>Tạo</td>
            <td>Xem</td>
            <td>Đổi tên</td>
            <td>Di chuyển</td>
            <td>Xóa</td>
        </tr>
    </thead>
    <tbody>
        <% authorities.each do |authority| %>
            <tr>
                <td><%= authority.user.username %></td>
                <td><%= authority.user.email %></td>
                <td class="ui center aligned">
                    <%= link_to aut_params(authority.can_create?), folder_share_authority_path(authority, can_create: !authority.can_create?), method: :put, remote: true %>
                </td>
                <td class="ui center aligned">
                    <%= link_to aut_params(authority.can_view?), folder_share_authority_path(authority, can_view: !authority.can_view?), method: :put, remote: true %>
                </td>
                <td class="ui center aligned">
                    <%= link_to aut_params(authority.can_rename?), folder_share_authority_path(authority, can_rename: !authority.can_rename?), method: :put, remote: true %>
                </td>
                <td class="ui center aligned">
                    <%= link_to aut_params(authority.can_move?), folder_share_authority_path(authority, can_move: !authority.can_move?), method: :put, remote: true %>
                </td>
                <td class="ui center aligned">
                    <%= link_to aut_params(authority.can_destroy?), folder_share_authority_path(authority, can_destroy: !authority.can_destroy?), method: :put, remote: true %>
                </td>
                <td class="ui center aligned">
                    <div class="ui fitted disabled checkbox">
                        <input type="checkbox" <%= "checked=''" if authority.direct_share? %> disabled="disabled">
                        <label></label>
                    </div>
                </td>
                <td><%= link_to 'Xóa', authority, method: :delete, remote: true, data: { confirm: 'Bạn muốn hủy chia sẻ với người này ?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>