<table class="ui selectable striped large table">
    <thead>
        <tr>
            <td>
                <div class="ui header">Tên</div>
            </td>
            <td>
                <div class="ui header">Loại</div>
            </td>
            <td>
                <div class="ui header">Kích thước</div>
            </td>
            <td>
                <div class="ui header">Người tạo</div>
            </td>
            <td>
                <div class="ui header">Chỉnh sửa lần cuối</div>
            </td>
            <td>...</td>
        </tr>
    </thead>
    <tbody>
        <% up_file_shortcuts.each do |shortcut| %>
            <tr>
                <td class="full-row-clickable" data-href="<%= up_file_path(shortcut.up_file) %>">
                    <%= shortcut.up_file.file_name %>
                </td>
                <td class="full-row-clickable" data-href="<%= up_file_path(shortcut.up_file) %>">
                    <%= shortcut.up_file.file_type %>
                </td>
                <td class="full-row-clickable" data-href="<%= up_file_path(shortcut.up_file) %>">
                    <%= number_to_human_size shortcut.up_file.file_size %>
                </td>
                <td class="full-row-clickable" data-href="<%= up_file_path(shortcut.up_file) %>">
                    <%= shortcut.up_file.uploader.username %>
                </td>
                <td class="full-row-clickable" data-href="<%= up_file_path(shortcut.up_file) %>">
                    <%= time_ago_in_words shortcut.up_file.updated_at %>
                </td>
                <td>
                    <div class="popupable">
                        <i class="icon setting outline"></i>
                    </div>
                    <div class="ui popup right center transition">
                        <div class="ui one column divided center aligned grid">
                            <div class="column">
                                <%= link_to rename_up_file_path(shortcut.up_file), remote: true do %>
                                    <i class="icon big edit outline"></i>
                                    <p>Đổi tên</p>
                                <% end %>
                            </div>
                            <div class="column">
                                <%= link_to shortcut, method: :delete, data: {confirm: 'Bạn muốn xóa file này ?'} do %>
                                    <i class="icon big trash outline"></i>
                                    <p>Xóa file</p>
                                <% end %>
                            </div>
                            <div class="column">
                                <%= link_to get_move_up_file_shortcut_path(shortcut), remote: true do %>
                                    <i class="icon big exchange outline"></i>
                                    <p>Di chuyển</p>
                                <% end %>
                            </div>
                            <div class="column">
                                <%= link_to up_file_share_authorities_path(id: shortcut.up_file.id), remote: true do %>
                                    <i class="icon big slideshare outline"></i>
                                    <p>Chia sẻ</p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>