<div class="hidden">
    <p id="current_file"><%= @up_file.id %></p>    
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 up-file-box">
            <% if @up_file.check_type 'mp4' %>
                <div class="video-box">                    
                    <%= video_tag( @up_file.link , size: "620x440", controls: true, autoplay: true) %>
                </div>
            <% elsif @up_file.check_type 'mp3' %>
                <%= audio_tag( @up_file.link , controls: true, autoplay: true) %>
            <% elsif @up_file.check_type 'pdf' %>
                <div class="pdf-box">
                    <iframe src=<%= @up_file.link %> width="700" height="500" style="border: none;"> </iframe>
                </div>
            <% end %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="affix chat-zone">
                <%= render @up_file.chat_room %>
            </div>
        </div>
    </div>
</div>
<%# link_to 'Edit', edit_up_file_path(@up_file) %> |
<%# link_to 'Back', up_files_path %>